@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  background-color: #24252A;

}
 li, a, button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#edf0f1;
  text-decoration: none;
 }
 header{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  border-bottom: 2px solid #ccc;
 }
 .logo{
  cursor: pointer;
  margin-right: auto;
  
 }
 .nav_links{
  list-style: none;
 }
 .nav_links li{
  display: inline-block;
  padding: 0px 20px;

 }
 .nav_links li a{
  transition: all 0.3s ease 0s;
 }
.nav_links li a:hover{
 color: #0088A9;

}
button{
  padding:9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border:none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: auto;
 
}
button:hover{
  background-color: rgba(0, 136, 169, 1) ;
}

.cta{
  order:2;
}
.container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}
.poster p, .container p{
  
  text-align: center;
}
.cards{
  height:560px;
  font-size: 2rem;
  padding: 2px;
}
.para{
  border-radius: 15px 50px ;
  border:2px;

}
.card-image{
  height:500px;
  
}
.container .cards{
  margin:30px;
  border:2px solid;
  border-color:aquamarine;
  background-color: aquamarine;
  text-align: center;
  
}
.poster{
  
  width:auto;
  border:2px solid;
}
.poster p{
  background-image: url(https://images.pexels.com/photos/325876/pexels-photo-325876.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  justify-content: center;
  font-size: 3rem;
  object-fit:cover;
  align-items: center;
  height: 200px;
}
/* Set the display and flex properties for the "categories" section */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

/* Style the cards within the "men" section */
#categories .categories .men {
   /* Adjust the width as needed */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  transition: filter 0.3s ease;
}

/* Style the card image */
#categories .categories .men .card-image {
  width: 310px;
  height: 400px;
  object-fit: fill;
}

/* Style the text within the cards */
#categories .categories .men .param {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

/* Add a hover effect to the cards */
#categories .categories .men {
  filter: blur(2px);
  cursor: pointer;
  justify-content: space-around;
}

/* Remove the blur effect on the card image when hovering */
#categories .categories .men:hover  {
  filter: none;
}


p{
  color:#f1edf0;
}

#foot {
  margin-top: 4rem;
  background-color: #24252A;
  padding: 30px;
  text-align: center;
  border-top:2px solid #ccc;
  
  
}

#foot .foo {
  margin-bottom: 30px;
}

#foot h3 {
  font-size: 20px;
  font-weight: bold;
}

#foot p {
  margin: 15px 0;
}

#foot a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

#foot a:hover {
  background-color: rgb(0, 43, 46);
}

#foot ul.footer-links {
  list-style-type: none;
  padding: 0;
  margin-bottom: 19px;
}

#foot ul.footer-links li {
  display: inline-block;
  margin-right: 1px;
}

#foot .fa {
  font-size: 20px;
  color: white;
  margin-right: 12px;
}

.icons #facebook:hover {
  background-color: rgb(59, 89, 152);
}

.icons #twitter:hover {
  background-color: rgb(29, 161, 242);
}

.icons #insta:hover {
  background-color: rgb(193, 53, 132);
}

.icons #pinterest:hover {
  background-color: rgb(189, 8, 28);
}
